.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'anton', sans-serif;
  background: linear-gradient(to bottom, #3B2069, #7E3DC5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}


/* css login */
.login-container {
  background: url('imagenes/fondologin.jpg') no-repeat center center/cover; /* Asegúrate de que esta ruta sea correcta */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Esto hace que el contenedor ocupe toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.5);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 320px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  outline: none;
}

.input-group .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.options a {
  color: #B19CD9;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #20035f;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #8F79BA;
}

p {
  margin-top: 10px;
}

p a {
  color: #B19CD9;
  text-decoration: none;
}

.back-button {
  position: absolute; /* Para posicionarlo en la esquina superior izquierda */
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  background-color: #f44336; /* Color de fondo rojo */
  color: white; /* Color de texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}


/* CSS TICKET */
.tickets-container {
  padding: 20px;
}

.ticket-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea,
.input-group select {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.success {
  color: green;
}

.back-button {
  position: absolute; /* Para posicionarlo en la esquina superior izquierda */
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  background-color: #f44336; /* Color de fondo rojo */
  color: white; /* Color de texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}
